{% extends 'layouts/base.html' %}
{% load static %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h4>Post Details</h4>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ object.post_title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ object.get_platform_display }}</h6>
            <br>
            <h6> Content: </h6>
            <p class="card-text">{{ object.post_content }}</p>
            <a href="{% url 'schedule:schedule_page' %}" class="card-link">Back to Schedule</a>
        </div>
    </div>
</div>

{% endblock content %}